---
import "@/styles/global.css";
import ClickSpark from "@/components/ui/ClickSpark";
import SEO from "@/components/SEO.astro";
import '@fontsource/bebas-neue';
import '@fontsource-variable/montserrat';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEO {title} {description} {image} />
		<link rel="icon" href="/favicon.ico" />
	</head>
	<body>
		<div class="noise-overlay"></div>
		<ClickSpark
			sparkColor="#ffffff"
			sparkSize={12}
			sparkRadius={18}
			sparkCount={10}
			duration={600}
			client:idle
		>
			<slot />
		</ClickSpark>
	</body>
</html>
